.navbar .navbar-brand {
  text-align: center !important;
  display: block !important;
  width: 100% !important;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block !important;
}